.course-container {
  .responsive-table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  @media (max-width: 600px) {
    mat-table {
      display: block;
      min-width: 600px; // Ensure table minimum width
    }
  }
}
